
<link href="~/lib/style.css" rel="stylesheet" />
<img style="width:100%" height="150" src="~/bg1.png" onclick="location.href='/OrdersMoney/Index'">
<div style="height: 100px">
    <div style="float:left;margin-left:45px;margin-top:3px;width:350px" onclick="location.href='/OrdersMoney/Index'">
        <div style="float:left"><img src="~/f69c9ae23819aff440c98db9bac08df9.png" width="150" height="100" /></div>
        <div style="float:right;margin-top:35px"><h4><strong> 源丰茶叶有限公司</strong></h4> </div>

    </div>
    <div style="float:right;margin-top:30px;margin-right:50px">
        <img src="~/lib/a.png" width="50" height="50" onclick="location.href='/Users/Login'" />
    </div>
</div>

<div style="background-image: url('bg2.jpg');">
    @RenderBody()

</div>


